ul.b3AlertList {
    position: absolute;
    z-index: 2060;
}
ul.b3AlertList.ultra > div.alert {
   z-index: 2060;
}
    
ul.middleAlert > div.alert {
    margin-top: -40%;
    z-index: 2040;
}

ul.centerAlert > div.alert {
    margin-right: -100%;
    z-index: 2040;
}
