ul.b3AlertList {
    position: absolute;
    z-index: 2040;
}

ul.b3AlertList.topAlert {
    top: 101px;
}

ul.b3AlertList.bottomAlert {
    bottom: 10px;
}

ul.b3AlertList.rightAlert {
    right: 7px;
    z-index: 2060;
}

ul.b3AlertList.leftAlert {
    left: 7px;
}

ul.b3AlertList.middleAlert {
    top: 50%;
}

ul.b3AlertList.centerAlert {
    right: 50%;
}

ul.middleAlert > div.alert {
    margin-top: -40%;
}

ul.centerAlert > div.alert {
    margin-right: -100%;
    z-index: inherit;
}
span.close {

}

div.alert.uberModal {
    margin-top: -45%;
    z-index: 2040 !important;
}
